@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@property --num-transactions {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@property --num-assets {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@property --num-users {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@keyframes counter {
  from {
    --num-transactions: 0;
    --num-assets: 0;
    --num-users: 0;
  }
  to {
    --num-transactions: 15;
    --num-assets: 7;
    --num-users: 142;
  }
}
